@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  max-width: 1440px;
  display: flex;
  flex-flow: row wrap;
  height: 5%;
  align-items: center;
}

.nav-logo {
  height: 3em;
  padding: 1.5em;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  text-transform: uppercase;
  justify-content: space-around;
}

.nav-link {
  padding: 1rem;
  font-size: 16px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: none;
}
