@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: white;
  --font-color: black;
  --sidebar-color: #f2f2f2;
}

[data-theme="dark"] {
  --bg-color: black;
  --font-color: white;
  --sidebar-color: #1c1c1d;
}

body {
  background-color: var(--bg-color);
}

h1 {
  color: var(--font-color)
}

h2 {
  color: var(--font-color)
}

h3 {
  color: var(--font-color);
}

p {
  color: var(--font-color)
}

label {
  color: var(--font-color)
}

.navbar {
  display: inline-flex;
  width: 90%;
  margin-left: auto;
}

.content {
  display: flex;
}

#sidebar {
  width: 200px;
  background-color: var(--sidebar-color);
  padding: 20px;
  height: 100%;
}

#product-list {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(23.00% - 20px); /* Adjust the width as needed */
  background-color: var(--bg-color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  max-height: 40%;
}

label {
  display: block;
}

#product-img {
  height: 50%;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  margin-left: 60%;
}